@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Frank+Ruhl+Libre:wght@300;500;600&family=Nunito:wght@500;600&family=Roboto:wght@100;300;400&display=swap");

:root {
  --heading-font-family: "Ruda", sans-serif;
  --para-font-family: "Rubik", sans-serif;
  --cursive-font-family: "Amatic SC", cursive;
  --para2-font-familt: "Nunito", sans-serif;
}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}


html{
  font-size: 62.5%;
}

body{
  width:100%;
  height:100vh;
  background-color: rgb(163, 163, 163);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 15vh;
  margin: auto;
  position: relative;
}

nav h1 {
  font-family: var(--heading-font-family);
  font-size: 3rem;
  word-spacing: 2rem;
}

nav li {
  font-size: 1.8rem;
  list-style: none;
  padding: 0rem 0.5rem;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-family: var(--para-font-family);
}

.fa-bars-staggered {
  font-size: 2rem;
  cursor: pointer;
  z-index: 999;
  display: none;
}

.fa-brands {
  margin: 1.8rem 0.8rem;
  font-size: 1.8rem;
}

.container{
	position: relative;
	width: 100%;
	min-height: 100vh;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
  background: url("../images/pexels-photo-8797307.jpeg") no-repeat center;
	background-size: cover;
  top:0;
  left:0;
  opacity: 0.3;
	z-index: -1;
}


h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
  font-size: 2rem;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #324a31;
    transition:  0.5s ease;
}

h2:hover::after{
  width:80px;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
  font-size: 1.5rem;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 1rem 1rem;
  background-color: #324a31;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
  font-size: 1.5rem;
}

.btn:hover{
  background-color: #48af51;
}

.field:focus{
    border: 2px solid rgba(53, 77, 216, 0.47);
    background-color: #fff;
}

footer {
  width: 100%;
  height: 25vh;
  background-color: #324a31;
}

.footer-max-width {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding-top: 3rem;

}

.footer-h1 {
  color: white;
  font-family: var(--heading-font-family);
  font-size: 3rem;
  margin-bottom: 1.5rem;
  word-spacing: 200px;
}
.footer-para {
  font-family: var(--para-font-family);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.5rem;
}

.fa-brands {
  margin: 1.8rem 0.8rem;
  font-size: 1.8rem;
}


.contact-box{
	max-width: 900px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
  margin: 20px auto;
  margin-bottom: 15vh;
  font-family: var(--heading-font-family);
}



.left{
	 background: url("../images/pexels-photo-8797307.jpeg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

a{
  color:white;
}


@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  nav {
    position: relative;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    padding: 0px 15px;
  }

  nav ul {
    position: fixed;
    background-color: rgb(119, 191, 201);
    height: 100vh;
    top: 0;
    right: 0;
    width: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    z-index: 1;
  }

  .ul-show {
    width: 70%;
  }

  nav ul li {
    margin: 15px;
    text-align: center;
    width: 100%;
    padding: 10px;
    display: block;
    cursor: pointer;
  }

  nav ul li:hover {
    background-color: rgb(255, 250, 250);
  }

  html {
    font-size: 55%;
  }

  .fa-bars-staggered {
    display: flex;
  }
  .footer-max-width {
    width: 90%;
    justify-content: space-between;
  }
 
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 50%;
  }
  nav {
    width: 90%;
    justify-content: space-between;
    margin: auto;
    padding: 0px 15px;
  }

  .fa-bars-staggered {
    display: flex;
  }

  nav ul {
    position: fixed;
    background-color: rgb(119, 191, 201);
    height: 100vh;
    top: 0;
    right: 0;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    z-index: 1;
  }

  .ul-show {
    width: 70%;
  }

  nav ul li {
    margin: 15px;
    text-align: center;
    width: 100%;
    padding: 10px;
    display: block;
    cursor: pointer;
  }

  nav ul li:hover {
    background-color: #ffffff;
  }

  .footer-max-width {
    width: 90%;
    justify-content: space-between;
  }

}


