@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.github-logo,
.fa-solid {
  font-size: 1.8rem;
  color: white;
}

.fa-solid:hover,
.github-logo:hover {
  color: #addcfe;
}

span {
  font-weight: 700;
  color: #addcfe;
}

p {
  font-size: 1.8rem;
  line-height: 2.7rem;
}

/* HEADER NAV AND HERO SECTION */
/* HEADER */
header {
  padding: 4rem 6rem;
  background-image: url("https://images.saymedia-content.com/.image/t_share/MTkyOTkyMzE2OTQ3MjQ0MjUz/website-background-templates.jpg");
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
  position: relative;
}

/* NAV */
nav {
  width: 100%;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  align-items: center;
}

nav .logo {
  font-size: 2.4rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: black;
}

/* HERO SECTION */
.hero-section {
  width: 100%;
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  min-height: 70vh;
  gap: 2rem;
  padding: 0rem 2rem;
}

.hero-contents {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  width: 50%;
  max-width: 800px;
}

.hero-contents h1 {
  font-size: 2.2rem;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.fa-brands {
  font-size: 2rem;
  transition: 0.5s ease;
}

.fa-brands:hover {
  transform: translateY(-5px);
}

.skills {
  display: flex;
  gap: 1.5rem;
}
.fa-css3-alt {
  font-size: 3rem;
}

.fa-css3-alt:hover {
  color: #264de4;
}

.fa-js {
  font-size: 3rem;
}

.fa-js:hover {
  color: #f0db4f;
}

.fa-react {
  font-size: 3rem;
}

.fa-react:hover {
  color: #61dbfb;
}

.fa-html5 {
  font-size: 3rem;
}

.fa-html5:hover {
  color: orange;
}

/* CONTACT */

.form-section{
  position: absolute;
  top:60%;
  left:50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;

}

.contact-show{
  opacity: 1;
  pointer-events: fill;
}
.gif {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-top-left-radius:12px;
  border-top-right-radius: 12px;
  object-position: top;
}
.fa-xmark{
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  top:-13px;
  right:-12px;
  border-radius: 50%;
  width:50px;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
  background-color: white;
}
form {
  position: relative;
border-radius: 12px;
  font-family: "Raleway", sans-serif;
  width: 400px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

form p{
  text-align: center;
  margin:2rem;
}

.input-div {
  width: 100%;
  background-color: rgb(5, 5, 5);
  margin: 2rem 0rem;
}

input,
textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom: 1px solid rgb(209, 204, 204);
  width: 100%;
  padding: 0.7rem 2rem;
}

textarea {
  min-height: 15vh;
}

.form-padding{
  padding:1rem;
}
.btn-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-send {
  margin: 2rem auto;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  background-color: #141414;
  width: 90%;
  cursor: pointer;
  color: white;
}

/* PROJECT SECTION */

.projects-section {
  padding: 4rem 6rem;
  font-family: "Raleway", sans-serif;
}

.projects-section-title {
  text-align: center;
  font-size: 2.7rem;
  margin-bottom: 3rem;
}

img {
  display: block;
  width: 100%;
}

.buttons {
  padding: 3rem 0rem;
  display: flex;
  gap: 1rem;
}

.cards img {
  object-position: top;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  height: 450px;
  transition: 300ms ease;
}

.column {
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.cards {
  width: 60%;
  margin: auto;
  position: relative;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    overflow: hidden;
}

.cards::before {
  border-radius: 12px;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: all 400ms ease;
  opacity: 0;
  z-index: 2;
}

.cards:hover::before {
  opacity: 0.7;
}

.cards-description {
  color: white;
  padding: 2rem;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  opacity: 0;
  pointer-events: none;
  transition: all 550ms ease;
  z-index: 4;
}

a{
  color:black
}
.cards-description h1 {
  font-size: 2.7rem;
  margin: 3rem 0rem;
}
.cards:hover .cards-description {
  opacity: 1;
  pointer-events: fill;
  transform: translate(-50%, -50%);
}


.cards:hover img {
  filter: blur(5px);
  transform: scale(1.1);
}



/* FOOTER */
footer {
  font-family: "Open Sans", sans-serif;
  background-color: black;
  width: 100%;
  min-height: 30vh;
  padding: 4rem 6rem;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

footer .logo {
  color: white;
  font-size: 2.4rem;
}

footer ul {
  list-style: none;
  display: flex;
  gap: 4rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}


@media(max-width:1000px){
  .cards{
    width:80%;
  }
}

@media(max-width:800px){

  .hero-contents{
    width:70%;
  }
  .cards{
    width:90%;
  }
}

@media(max-width:600px){
html{
  font-size: 55%;
}
  .hero-contents{
    width:80%;
  }
  .cards{
    width:100%;
  }
}

@media(max-width:500px){
  html{
    font-size: 55%;
  }

  header,.projects-section{
    padding:2rem
  }
    .hero-contents{
      width:100%;
    }
    .cards{
      width:100%;
    }

    .form-section{
      width:85%;

    }

    form{
      width:100%;
    }
    
  }

  @media(max-width:400px){
    html{
      font-size: 50%;
    }
  
    header,.projects-section{
      padding:2rem
    }
      .hero-contents{
        width:100%;
      }
      .cards{
        width:100%;
      }
    }

    @media(max-width:280px){
      html{
        font-size: 45%;
      }
    
      header,.projects-section{
        padding:1rem
      }
        .hero-contents{
          width:100%;
        }
        .cards{
          width:100%;
        }

       .form-section{
          width:90%;
    
        }
    
      }